<div class="mdui-drawer" id="main-drawer">
    <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px;">

      <div class="mdui-collapse-item {% if page.drawer == false %} mdui-drawer-close{% endif %}">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-deep-orange">home</i>
          <div class="mdui-list-item-content">Home</div>
          <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-collapse-item-body mdui-list">
          <a href="/" class="mdui-list-item mdui-ripple mdui-list-item-active">Discuss</a>
          <a href="/" class="mdui-list-item mdui-ripple ">FAQ</a>
        </div>
      </div>
    </div>
  </div>